<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit (ingredientAdded)="onIngredientAdded($event)"></app-shopping-list-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
        <!-- <span
          class="glyphicon glyphicon-remove"
          style="float: right; color: #ba1010;"
          (click)="triggerCheck()"></span> -->
          <button type="button" class="btn btn-default btn-sm" style="float: right; margin: auto;">
            <span class="glyphicon glyphicon-remove"></span> Remove
          </button>
      </a>
    </ul>
  </div>
</div>
